<section>

	<article class="pv3 ph1 ph5-l center mw6 mw7-l">

		{% include 'partials/breadcrumb.twig' %}

		<div class="ph3">
	
			{% if content is empty %}

				<h1>{{ item.name }}</h1>

			{% endif %}

			<h1>{{ title }}</h1>
			
			{{ content }}

		</div>
	</article>

</section>